@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}
  
.loading_animation {
    border: 20px dotted black;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    animation: loading 2s infinite linear;
    margin: auto
}