.link {
    stroke: #999;
    stroke-opacity: 0.6;
  }
.node {
  fill: #69b3a2;
  stroke: #fff;
  stroke-width: 1.5px;
}

.regenerator{
  fill: red;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font-size: 12px;
  font-family: sans-serif;
  pointer-events: none;
}

.svg_container{
  min-height: 400px;
}

.svg { 
  width: 100%;
  aspect-ratio: 1/0.65;
}

.svg_2 { 
  width: 100%;
  aspect-ratio: 1/0.4;
}

.svg_special {
  max-width: 100%;
  min-width: 90%;
  min-height: 95%;
  max-height: 100%;
  transform:none;
  position: absolute;
}

line { 
  stroke: #999; 
  stroke-width: 2px; 
}

circle { 
  fill: steelblue; 
  stroke: white; 
  stroke-width: 2px; 
}

.flex_form{
  display: flex;
  flex-direction: row;
}