<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Benchmarks</title>
        <link rel="icon" type="image/png" href="">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/styles_graph.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/animations.css') }}" rel="stylesheet">
    </head>
    <body>
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand ps-3" href="/">FTRLP's Web App</a>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav 🤓">
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
                                Main Menu
                            </a>
                            <a class="nav-link" href="/algorithms">
                                <div class="sb-nav-link-icon"><i class="fas fa-project-diagram"></i></div>
                                Algorithm
                            </a>
                            <div class="sb-sidenav-menu-heading">Benchmarks</div>
                            <a class="nav-link" href="/graph_creator">
                                <div class="sb-nav-link-icon"><i class="fas fa-pen"></i></div>
                                Create Graphs
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4 🤓" style="width: 80%;">
                        <h1 class="mt-4">Benchmarks</h1>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-0">
                                    This is the section for benchmarks, now you can enter the data in the next form, the program will generate graphs according to the input data and 
                                    will test all of them until it gets the number of samples needed per number of nodes.
                                </p>
                            </div>
                        </div>

                        <form id="form_benchmarck">
                            <div class="row">
                                <div class="column">
                                    <p>Initial number of nodes</p>
                                    <input type="number" id="n_ini_node" name="n_ini_node" value="10">
                                </div>
                                <div class="column">
                                    <p>Final number of nodes</p>
                                    <input type="number" id="n_fin_node" name="n_fin_node" value="13">
                                </div>
                                <div class="column">
                                    <p>Jump value between the number of nodes</p>
                                    <input type="number" id="jump_node" name="jump_node" value="1">
                                </div>
                                <div class="column">
                                    <p>Number of edges per node</p>
                                    <input type="number" id="link_probability" name="prob_link" value="14">
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <p>Number of sample per number of nodes</p>
                                    <input type="number" id="n_sample" name="n_sample" value="5">
                                </div>
                                <div class="column">
                                    <p>Minimum distance of link</p>
                                    <input type="number" id="min_link" name="min_dist" value="800">
                                </div>
                                <div class="column">
                                    <p>Maximum distance if link</p>
                                    <input type="number" id="max_link" name="max_dist" value="2800">
                                </div>
                                <div class="column">
                                    <p>Maximum distance allowed to travel</p>
                                    <input type="number" id="max_travel" name="max_travel" value="3000">
                                </div>
                                <br>
                                <br>
                                <div class="column">
                                    <label for="algorithm">Choose a Algorithm:</label>
                                        <select name="algorithm" id="select-algorithm">
                                        <option value="">Please choose an Algorithm</option>
                                        <option value="o">Optimal</option>
                                        <option value="r">Random</option>
                                        <option value="g">Greedy</option>
                                        </select>
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-primary" type="submit">Send</button>
                        </form>
                        
                        <br>

                        <h2 class="mt-4">Charts</h2>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-0">
                                    After getting the samples of the graphs, now this data will be exposed in the next charts.
                                </p>
                                <p>The fist one is a linear chart with nº nodes🔵🔵 / time⌛.</p>
                                <p>The second one is a bar chart with nº errors👾👾 / nº nodes🔵🔵.</p>
                                <p>The last one is a linear graph with nº nodes🔵🔵 / nº links⛓️⛓️.</p>
                            </div>
                        </div>
                        <br>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Nº Nodes / Time (sec)
                            </div>
                            <div class="card-body svg_container">
                                <!--Loading Animation-->
                                <div id="loading_animation_1" style="display: none;" class="loading_animation"></div>
                                <svg id="line_graphic" style="display: block;" class="svg_2"></svg>
                            </div>
                            <div class="card-footer small text-muted"></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Nº Links / Nº Nodes
                                    </div>
                                    <div class="card-body svg_container"> 
                                        <!--Loading Animation-->
                                        <div id="loading_animation_2" style="display: none;" class="loading_animation"></div>
                                        <svg id="nl_graphic" style="display: block;" class="svg"></svg>
                                    </div>
                                    <div class="card-footer small text-muted"></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Nº Nodes / Nº Errors
                                    </div>
                                    <div class="card-body svg_container">
                                        <!--Loading Animation-->
                                        <div id="loading_animation_3" style="display: none;" class="loading_animation"></div>
                                        <svg id="error_graphic" style="display: block;" class="svg"></svg>
                                    </div>
                                    <div class="card-footer small text-muted"></div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h2 class="mt-4">Pure Data</h2>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-0">
                                    This table will show the date of all the samples taken, if its needed to seach for more precise data.
                                </p>
                                <p class="mb-0">
                                    If its needed you can download the data of all the samples into a csv if more research is needed.
                                </p>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable
                            </div>
                            <button class="btn btn-success" onclick="download_graphs()">Download .csv</button>
                            <table class="table table-sm">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Numero Nodes</th>
                                    <th scope="col">Numero Links</th>
                                    <th scope="col">Algorithm</th>
                                    <th scope="col">Solution</th>
                                    <th scope="col">Time to solve</th>
                                  </tr>
                                </thead>
                                <tbody id="table_graph">
                                </tbody>
                            </table>
                        </div>
                    </div>
                        
                        <div style="height: 25vh"></div>
                        <div class="card mb-4"><div class="card-body">You can check the code here</div> <div class="card-body"><a href="https://github.com/cherno1929/tfg_Algoritmo">Github</a></div></div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="{{ url_for('static', filename='benchmark_menu.js') }}"></script>
    </body>
</html>

