<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button onclick="location.href='/'">Home</button>
    <br>
    <p>This is an ftlrp algorithm solver, please give the data of your graph, and this solver will give you the result</p>
    <form id="form_benchmarck">
        <p>Initial number of nodes</p>
        <input type="number" id="n_ini_node" name="n_ini_node">
        <p>Final number of nodes</p>
        <input type="number" id="n_fin_node" name="n_fin_node">
        <p>Probability of link</p>
        <input type="number" step="0.01" id="link_probability" name="prob_link">
        <p>Number of sample per number of nodes</p>
        <input type="number" id="n_sample" name="n_sample">
        <p>Minimum distance of link</p>
        <input type="number" id="min_link" name="min_dist">
        <p>Maximum distance if link</p>
        <input type="number" id="max_link" name="max_dist">
        <p>Maximum distance allowed to travel</p>
        <input type="number" id="max_travel" name="max_travel">
        <br>
        <button type="submit">Send</button>
    </form>
</body>
<script src="{{ url_for('static', filename='benchmark_menu.js') }}"></script>
</html>